<div class="ui-body ui-body-a u-corner-al">

<% if !@currentUser.name_first %>
<h1>Please update your profile details.</h1>
<% else %>
<h1>Name: <%= @currentUser.name_first %> <%= @currentUser.name_last %></h1>
<% end %>

<p><%= image_tag @currentUser.photo, :class => 'profile-img' %></p>
<p>Email: <%= @currentUser.email %> </p>
<p>Default Location Near: <%= @currentUser.default_location %></p>

<%= link_to "Edit Profile", edit_user_path, :class => 'ui-btn ui-corner-all', "data-transition" => "slide" %>
<%= link_to "Logout", logout_path, :method => :delete, :class => 'ui-btn ui-corner-all' %>

</div>
