<h1>Name: <%= @currentUser.name_first %> <%= @currentUser.name_last %></h1>
<p><%= image_tag @currentUser.photo, :class => 'profile-img' %></p>
<p>Name: <%= @currentUser.name_first %> <%= @currentUser.name_last %></p>
<%= link_to "Edit Profile", edit_user_path %>
<%= link_to "Logout", logout_path, :method => :delete %>
