<%= form_for(@item, :html => {:class => "rails_form", "data-ajax" => false }) do |f| %>
<% if (@item.image) %>
<%= image_tag @item.image, :class => "edit-image" %>
<% end %>
<fieldset>
  <%= f.label :image, "Photo" %>
  <span class="upload"><%= f.file_field :image %></span>
</fieldset>
<fieldset>
  <%= f.label :name %>
  <%= f.text_field :name %>
</fieldset>
<fieldset>
  <%= f.label :price %>
  <%= f.number_field :price %>
</fieldset>
<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" class="checkboxes">
  <%= f.check_box(:negotiable, {}, true) %>
  <%= f.label(:negotiable, "Negotiable") %>
  <%= f.check_box(:charity, {}, true) %>
  <%= f.label(:charity, "Free to a Charity") %>
</fieldset>
<fieldset>
  <input id="current-location" type="button" value="Add Current Location">
  <input id="default-location" type="button" value="Add Default Location">
  <%= f.text_field :latitude, :class => "lat-input", :placeholder => "Click Location Button Above" %>
  <%= f.text_field :longitude, :class => "long-input" %>
</fieldset>
<fieldset>
  <%= f.label :description %>
  <%= f.text_field :description %>
</fieldset>
<fieldset>
  <%= f.collection_select(:category_id, Category.order(:name), :id, :name, {:prompt => 'Select a category'}, {:required => true}) %>
</fieldset>
<%= f.submit %>
<% end %>
