<div class="top-header">

</div>

  <% if @currentUser.present? %>
  <%= button_to(@currentUser.phone, user_path(@currentUser.id), :method => :get, :class => 'ui-mini')  %>
  <% else %>
  <button class="ui-mini" id="login">Login / Signup</button>
  <% end %>
  <div class="my-digits-container"></div>

<%= select("category", "name", Category.all.collect(&:name), :include_blank => true, :prompt => "Filter by Category") %>

<ul class="items-list">
  <% @items.each do |item| %>
  <% if !item.closed %>
  <li class="item-holder" id="<%= item.category.name %>" data="<%= item.id %>"><%= cl_image_tag item.image, :class => "thumb" %>

    <%= link_to item_path(item), "data-transition" => "slide" do %>
    <div class="item-overlay">
      <h1 class="item-name"><%= item.name %></h1>
      <span class="item-price">
        <% if (item.price === 0 || item.price == nil) %>
        Free
      <% else %>
        <%= number_to_currency(item.price) %>
        <% end %>
      </span>
      <p class="item-description"><%= item.description %> </p>
    </div>
    <% end %>
    <% if @currentUser.present? && item.favourites.where(:user_id => @currentUser.id).exists? %>
    <%= image_tag 'favStar.png', :class => 'fav magictime' %>
    <script>
      $('.fav-count').fadeIn();
    </script>
    <% end %>
    <% if item.favourites.length > 0 %>
    <div class="fav-count"><%= item.favourites.length %></div>
    <% end %>
    <% if @currentUser.present? && @currentUser.latitude %>
    <div class="distance-div">
      <span><%= number_to_human((item.distance * 1000).to_i, units: {unit: 'm', thousand: 'km'}) %></span>
    </div>
    <% end %>
    <% if (item.negotiable) %>
      <div class="neg-div">
        <span>$neg</span>
      </div>
    <% end %>

    <% if (item.charity) %>
    <div class="charity-div">
      <span>charity</span>
    </div>
    <% end %>

  </li>
  <% end %>
  <% end %>

</ul>
<div id="km">

<span id="add-km" class='ui-btn ui-corner-all'>Add 5 km</span>
<span id="reset-km" class='ui-btn ui-corner-all'>Reset km</span>

</div>
