<h1>Items</h1>
<p id="update-location">Update location</p>
<% if @currentUser.present? %>
<%= link_to new_item_path do %>
  <%= image_tag 'add.png', :id => "add-item" %>
  <% end %>
  <% end %>
<ul class="items-list">
  <% @items.each do |item| %>
  <li class="item-holder"><%= image_tag item.image, :class => "thumb" %>

    <%= link_to item_path(item), "data-transition" => "slide" do %>
    <div class="item-overlay">
      <h1 class="item-name"><%= item.name %></h1>
      <span class="item-price">
        <% if (item.price === 0 || item.price == nil) %>
        Free
      <% else %>
        $<%= item.price %>
        <% end %>
        <% if (item.negotiable) %>
        <span class="price-text">(neg)</span>
        <% end %>
        <% if (item.charity) %>
        <span class="price-text">(or charity)</span>
        <% end %>
      </span>
      <p class="item-description"><%= item.description %> (distance: <%= (item.distance * 1000).to_i %>m)</p>
    </div>
    <% end %>
  </li>
  <% end %>
</ul>
