<div class="ui-body ui-body-a u-corner-al">
  <h1><%= @item.name %></h1>

  <p><% if (@item.price === 0 || @item.price == nil) %>
  Free
  <% else %>
  <%= number_to_currency(@item.price) %>
  <% end %></p>

  <% if @item.negotiable %>
  <p>Price is negotiable.</p>
  <% end %>

  <% if @item.charity %>
  <p>Free to a registered charity. Seller is responsible for verification.</p>
  <% end %>

  <p><%= @item.description %></p>

  <p>Located Near: <%= @item.location %></p>

  <%= image_tag @item.image, :class=> 'edit-image' %>
  <% if @item.favourites.length == 0 %>
    <p>Nodoby has favourited this item yet.</p>
  <% elsif @item.favourites.length == 1 %>
    <p><%= @item.favourites.length %> person has favourited this item.</p>
  <% else %>
    <p><%= @item.favourites.length %> people have favourited this item.</p>
  <% end %>

  <% if @currentUser.present? %>
      <a class="button-link" href="mailto:<%= @item.user.email %>?subject=<%= @item.name %> listed on Yard Sale"><p class="ui-btn ui-corner-all">Contact Item Owner</p></a>

      <% if @currentUser.id == @item.user_id %>
        <p>Close Item</p>
        <%= link_to 'Edit Item', edit_item_path, :class => 'ui-btn ui-corner-all' %>
      <% end %>
  <% else %>
    <h3>Please log in from the previous page if you wish to contact the seller.</h3>
  <% end %>
  
</div>
