<!DOCTYPE html>
<html>
<head>
  <title>Yard Sale</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script id="digits-sdk" src="https://cdn.digits.com/1/sdk.js" async></script>
  <!-- <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1W_PZDArK46FW21IKVhhA2mzM1SfFVSI&libraries=places">
  </script> -->
</head>
<body>
  <nav data-role="navbar">
    <ul>
      <li><%= link_to 'Items', items_path, "data-transition" => "slide", "data-icon" => "grid" %></li>
      <li><%= link_to 'Favourites', items_path, "data-transition" => "slide", "data-icon" => "star" %></li>
    </ul>
  </nav>

  <% if @currentUser.present? %>
  <%= button_to(@currentUser.phone, user_path(@currentUser.id), :method => :get)  %>
  <% else %>
  <button id="login">Login / Signup</button>
  <% end %>
  <div class="my-digits-container"></div>
<%= yield %>

</body>
</html>
