<!DOCTYPE html>
<html>
<head>
  <title>Yard Sale</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script id="digits-sdk" src="https://cdn.digits.com/1/sdk.js" async></script>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>

<%= yield %>
  <% if @currentUser.present? %>
<footer class="footer-nav" data-role="none">

  <div class="icon-div" id="update-location">
  <i class="fa fa-location-arrow faicon" aria-hidden="true"></i>
  <span class="icon-text">Locate Me</span>
  </div>

  <div class="icon-div" id="sample-location">
  <i class="fa fa-location-arrow faicon" aria-hidden="true"></i>
  <span class="icon-text">Test Loc</span>
  </div>

  <a href="<%= new_item_path %>" class="icon-div">
    <div id="add-item">
    <i class="fa fa-plus-circle faicon" aria-hidden="true"></i>
    <span class="icon-text">List Item</span>
    </div>
  </a>

  <a href="<%= items_path %>" class="icon-div">
    <div class="icon-div" id="view-items">
    <i class="fa fa-list-ul faicon" aria-hidden="true"></i>
    <span class="icon-text">Items</span>
    </div>
  </a>


    <div class="icon-div" id="view-fav">
    <i class="fa fa-star faicon" aria-hidden="true"></i>
    <span class="icon-text">Favourites</span>
    </div>

  <a href="<%= user_path(@currentUser.id) %>" class="icon-div" id="user-id" data="<%= @currentUser.id %>">
    <div class="icon-div" id="view-profile">
    <i class="fa fa-user faicon" aria-hidden="true"></i>
    <span class="icon-text">Profile</span>
    </div>
  </a>


</footer>
<% end %>
<%= image_tag 'favStar.png', :id => 'favStar', :class => 'invisible' %>
</body>

</html>
